.notes {
  width: 75%;
  margin: auto;
  margin-top: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.header div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.headerSelected {
  background: #1f3445;
  padding: 5px 8px;
  border-radius: 99px;
  cursor: pointer;
}

.header p {
  color: #1E90FF;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.header span {
  background: #424242;
  color: #D9D9D9;
  padding: 3px 9px;
  border-radius: 99px;
  font-size: 12px;
  font-weight: bold;
}

.textComplete {
  color: #26c77c !important;
}

.textIncomplete {
  color: #f3e13c !important;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.completeRowIconContainer {
  cursor: pointer;
  display: flex;
  margin-right: 20px;
}

.contextContainer {
  width: 550px;
  display: flex;
  justify-content: space-evenly;
}

.completeActionContainer {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.completeActionIcon {
  color: #26c77c;
  font-size: 25px;
  margin-right: 5px;
}

.uncompleteActionContainer {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.uncompleteActionIcon {
  color: #f3e13c;
  font-size: 30px;
  margin-right: 5px;
}

.deleteActionContainer {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.deleteActionIcon {
  color: #f10101;
  font-size: 25px;
  margin-right: 5px;
}
